.container {
    border: 1px solid black;
    margin-top: 50px;
    padding-bottom: 20px;
}
img {
    padding: 10px 0px;
}
#smiley-face {
    max-width: 125px;
    max-height: auto;
}

input {
    text-align: center;
}
.user-input {
    font-weight: bold;
}

