* {
    border: 1px solid red;
}

.header-left > img {
    padding-left: 4em;
}

.header-right {
    text-align: center;
}

.user-input {
    text-align: center;
    list-style: none;
}

input {
    text-align: center;
}