<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ngMadLibs</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

</head>
<body ng-controller="myCtrl">
<div class="container">
    <div class="row header-row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-md-4">
                    <img id="smiley-face" src="img/smiley.png" alt="">
                </div>
                <div class="col-md-8">
                    <img src="img/logo.png" alt="">
                    <h1>Automate This!</h1>
                </div>
            </div>

            <!--User Input Section-->
            <hr/>
            <div id="inputs" ng-hide="display === 1">
                <h2>Male or Female?</h2>
                <div class="radio">
                    <label>
                        <input type="radio" value="male" ng-model="gender" ng-change="maleOrFemale(gender)">
                        Male
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="female" ng-model="gender" ng-change="maleOrFemale(gender)">
                        Female
                    </label>
                </div>

                <h2>Provide the following words:</h2>
                <br/>
                <form name="userInputForm" ng-submit="submitForm()" novalidate>
                    <div class="row">
                        <div class="col-md-4 user-input">
                            <div class="form-group">
                                <input type="text" name="name" ng-model="name" placeholder="name" required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.name.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="jobTitle" ng-model="jobTitle" placeholder="job title" required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.jobTitle.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="tediousTask" ng-model="tediousTask" placeholder="tedious task"
                                       required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.tediousTask.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 user-input">
                            <div class="form-group">
                                <input type="text" name="dirtyTask" ng-model="dirtyTask" placeholder="dirty task"
                                       required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.dirtyTask.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="celebrity" ng-model="celebrity" placeholder="celebrity"
                                       required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.celebrity.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="uselessSkill" ng-model="uselessSkill"
                                       placeholder="useless skill" required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.uselessSkill.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 user-input">
                            <div class="form-group">
                                <input type="text" name="obnoxiousCelebrity" ng-model="obnoxiousCelebrity"
                                       placeholder="obnoxious celebrity" required>
                                <div ng-if="userInputForm.$submitted"
                                     ng-messages="userInputForm.obnoxiousCelebrity.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number" name="hugeNumber" ng-model="hugeNumber" placeholder="huge number"
                                       required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.hugeNumber.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="adjective" ng-model="adjective" placeholder="adjective"
                                       required>
                                <div ng-if="userInputForm.$submitted" ng-messages="userInputForm.adjective.$error">
                                    <span class="error" ng-message="required">Field is required!</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr/>
                    <input class="btn btn-primary" id="submit-button" type="submit" name="submit"
                           value="Generate my Madlib!">
                </form>
            </div>
            <!--Story Section-->
            <div class="madlib-story" ng-hide="display === 0">
                <div class="col-md-10 col-md-offset-1">
                    <p id="male-story"><span class="user-input">{{ name}}</span> was a <span
                            class="user-input">{{jobTitle}}</span> who loved
                        technology. Although he loved parts of his job, he absolutely hated <span class="user-input">{{tediousTask}}</span>
                        and <span class="user-input">{{dirtyTask}}</span>. So, <span class="user-input">{{name}}</span>
                        met
                        with his life mentor <span class="user-input">{{celebrity}}</span> who told him to learn how
                        to <span
                                class="user-input">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course
                        on
                        <span class="user-input">{{uselessSkill}}</span> so he studied programming instead.
                        What a great decision! With his new skills, <span class="user-input">{{name}}</span> built a(n)
                        <span class="user-input">{{adjective}}</span> robot named <span class="user-input">{{obnoxiousCelebrity}}</span>
                        that not only loved <span class="user-input">{{dirtyTask}}</span> but did it <span
                                class="user-input">{{hugeNumber}}</span>
                        times
                        faster. </p>
                    <p id="female-story"><span class="user-input">{{name}}</span> was a <span
                            class="user-input">{{jobTitle}}</span> who loved
                        technology. Although she loved parts of her job, she absolutely hated <span class="user-input">{{tediousTask}}</span>
                        and <span class="user-input">{{dirtyTask}}</span>. So, <span class="user-input">{{name}}</span>
                        met
                        with her life mentor <span class="user-input">{{celebrity}}</span> who told her to learn how
                        to <span
                                class="user-input">{{uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course
                        on
                        <span class="user-input">{{uselessSkill}}</span> so she studied programming instead.
                        What a great decision! With her new skills, <span class="user-input">{{name}}</span> built a(n)
                        <span class="user-input">{{adjective}}</span> robot named <span class="user-input">{{obnoxiousCelebrity}}</span>
                        that not only loved <span class="user-input">{{dirtyTask}}</span> but did it <span
                                class="user-input">{{hugeNumber}}</span>
                        times
                        faster. </p>
                    <input class="btn btn-primary" id="reset-button" type="submit" ng-click="reset()" value="Reset!">
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/angular-messages.min.js"></script>
<script type="text/javascript" src="app/myApp.js"></script>

</body>
</html>